<div class="card">
    <img class="card-img" src="{{image}}" alt="{{imageLabel}}" />
    <div class="card-body">
        <span class="card-badge">
            {{badge}}
        </span>
        <a href="/tips/{{slug}}">
            <h5 class="card-title">{{tipTitle}}</h5>
        </a>
        <a href="/tips/{{slug}}" class="card-btn">
            Read more →
        </a>
    </div>
</div>