<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/cards.css">
    <script defer src="{{jsFile}}"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="hero-container">
        <div class="hero-image" role="img" aria-label="{{heroLabel}}" style="background-image: url('{{heroImage}}'); background-position: {{heroImagePosition}};"></div>
        <div class="hero-text">
            <h1>{{heroTitle}}</h1>
            <p>{{heroSmallText}}</p>
        </div>
        <nav class="nav">
            
            <div class="nav_brand">
                <img src="/images/logo-1.png" aria-label="logo of dollar sign" class="nav_logo">
                <div class="title">Personal Finance Tips</div>       
            </div>

            <a href="/all-tips"><button class="nav_btn">All Tips</button></a>    
        </nav>    
    </div>

    

    {{{body}}}

    <footer class="footer">
        <p>© 2026 Personal Finance Tips</p>
    </footer>
</body>
</html>