<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/cards.css">
    <script defer src="{{jsFile}}"></script>
    <title>{{title}}</title>
    <style>
        .hero-image {
            background-image: url('{{ heroImage }}');
            background-position: {{heroImagePosition}};
        }

        @media (max-width: 768px) {
            .hero-image {
                background-image: url('{{ heroImageMobile }}');
            }
        }
    </style>
</head>
<body>
    <div class="hero-container">
        <div class="hero-image" role="img" aria-label="{{heroLabel}}"></div>
        <div class="hero-text">
            {{#if heroTitle}}
                <h1>{{heroTitle}}</h1>
            {{/if}}
            {{#if heroSmallText}}
                <p>{{heroSmallText}}</p>
            {{/if}}
        </div>
        {{> navbar }}
    </div>

    {{{body}}}

    {{> footer }}
</body>
</html>