<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Preconnect to Google Fonts servers -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Deferred CSS loading -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/styles.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/cards.css" media="print" onload="this.media='all'">

    <!-- Fallback for no-JS -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/cards.css">
    </noscript>
    <script defer src="{{jsFile}}"></script>
    <title>{{title}}</title>
    <style>
        .hero-image {
            object-position: {{heroImagePosition}};
            object-fit: cover;
            height: 80vh;
            width: 100%;
            display: block;
            filter: brightness(0.89);
        }
    </style>
</head>
<body>
    <div class="hero-container">
        <div class="hero-container">
        <picture>
            <source media="(max-width: 768px)" srcset="{{ heroImageMobile }}">
            <img 
                src="{{ heroImage }}"
                alt="{{heroLabel}}"
                fetchpriority="high"
                class="hero-image"
            >
        </picture>
        <div class="hero-text">
            {{#if heroTitle}}
                <h1>{{heroTitle}}</h1>
            {{/if}}
            {{#if heroSmallText}}
                <p>{{heroSmallText}}</p>
            {{/if}}
        </div>
        {{> navbar }}
    </div>

    {{{body}}}

    {{> footer }}
</body>
</html>